@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

span {
    margin: 10px;
    text-align: center;
    font-size: 28px;
}

#displayWords {
    border: solid 3px white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    height: 80px;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#displayWords span {
    margin-right: 20px;
    margin-left: 20px;
    height: 75%;
    zoom: 1;
    display: inline-flex;
    align-items: center;
}

#displayWords span:nth-child(1){
   color: #62a9c4;
}

.title {
    text-align: center;
    font-size: 2rem;
}

#input {
    text-align: center;
    margin: auto;
}

#wordInput {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    background: black;
    margin: 3vh;
    text-align: center;
    color: white;
    width: 40%;
    resize: none;
    border: none;
    border-radius: 10px;
}

.score {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

#timer {
    font-size: 42px;
    text-align: center;
    margin: auto;
    color: blanchedalmond;
}

#resetContainer {
    margin-top : 2vh;
    text-align: center;
}

#reset {
    background:linear-gradient(to bottom, #3b6879 5%, #3b5484 100%);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    padding:13px 32px;
    text-decoration:none;
    border: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
}
#reset:hover {
    background:linear-gradient(to bottom, #62a9c4 5%, #587dc6 100%);
}

#reset:active {
    position: relative;
    top: 3px;
}

#heart {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/*BACKGROUND*/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #180f38;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #a38f8f;
    top: 51%;
    left: 47%;
    animation-duration: 17s;
    animation-delay: -77s;
    transform-origin: 7vw 16vh;
    box-shadow: -40vmin 0 5.830547872884119vmin currentColor;
}
.background span:nth-child(1) {
    color: #a38f8f;
    top: 10%;
    left: 24%;
    animation-duration: 82s;
    animation-delay: -90s;
    transform-origin: -8vw -15vh;
    box-shadow: 40vmin 0 5.5863186031363155vmin currentColor;
}
.background span:nth-child(2) {
    color: #a38f8f;
    top: 55%;
    left: 42%;
    animation-duration: 51s;
    animation-delay: -59s;
    transform-origin: -7vw -9vh;
    box-shadow: 40vmin 0 5.149470702340776vmin currentColor;
}
.background span:nth-child(3) {
    color: #7b54c0;
    top: 74%;
    left: 9%;
    animation-duration: 84s;
    animation-delay: -47s;
    transform-origin: 3vw 22vh;
    box-shadow: -40vmin 0 5.092914511254703vmin currentColor;
}
.background span:nth-child(4) {
    color: #7b54c0;
    top: 81%;
    left: 28%;
    animation-duration: 90s;
    animation-delay: -3s;
    transform-origin: 22vw -11vh;
    box-shadow: -40vmin 0 5.370502467999646vmin currentColor;
}
.background span:nth-child(5) {
    color: #7b54c0;
    top: 19%;
    left: 81%;
    animation-duration: 37s;
    animation-delay: -97s;
    transform-origin: -6vw 19vh;
    box-shadow: -40vmin 0 5.507643968755553vmin currentColor;
}
.background span:nth-child(6) {
    color: #a38f8f;
    top: 100%;
    left: 47%;
    animation-duration: 92s;
    animation-delay: -66s;
    transform-origin: 8vw -18vh;
    box-shadow: 40vmin 0 5.204027020349304vmin currentColor;
}
